/* new layout */
/* MOBILE */
html {
    /* the base font size <p>,... */
    font-size: 10px;
  }
  /* media queries */
  /* the value defines a breakpoint */
  @media (min-width: 420px) {
    html {
      font-size: 14px;
    }
  }
  @media (min-width: 800px) {
    html {
      font-size: 18px;
    }
}


  body {
    /* propery: value; */
    /* values can have units or be unitless */
    margin: 0;
    background-color: lightyellow;
    font-family: Arial, Helvetica, sans-serif;
    color:darkturquoise;
}

/* media query */
/* that only applies if the screen is smaller than 800px */
@media (max-width: 800px) {
    header, main, footer, aside {
    }
}


  header {
    height: 550px;
    background-image: url(images/sara-julie-9Gz5bMWdGYE-unsplash.jpg);
    margin-top: 0;
    padding-top: 300px;
    text-align: center;
}

  main {
    background-color: darkturquoise;
    background-color:lightyellow;
    margin: 40px;
}

  footer {
    background-color: black;
    height: 800px;
    padding: 20px;
    line-height: 30px;
}

aside {
    border-color:pink;
}

/* *
  TYPOGRAPHIC ELEMENTS
*/ */


/*
I TRIED TO MODIFY THE H2 BUT IT DOESN'T WORK IDK WHY, SO I USED A SELECTOR "TITLE" TO MODIFY.
/* h2 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
} */ */


h1 {
  color: darkturquoise;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 5000;
  }

h2{
text-align: center;
}

#titlecover {
font-family: 'Courier New', Courier, monospace;
font-size: 50px;

}

#title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    background-color: darkturquoise;
   height: 50px;

}

#about {
font-family: 'Courier New', Courier, monospace;
}

h3 {
color: darkturquoise;
font-weight: 300;
font-size: 20px;
}

#subtitle {
    color:darkturquoise;
    text-align: center;
    font-size: 20px;
    }


#recipes {
  font-weight: 400;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  }

p {
  font-size: 15px;
  color: darkturquoise;
  line-height: 0%;
  margin-bottom: 2%;
  }

dl {
    color:darkturquoise;
  }

ul.ingredients {
    text-align: left;
    list-style-type: circle;
  }


  /* link */

ul {
    list-style: none;
    text-align: center;
  }

a {
    text-decoration: none;
    color: white;
    line-height: 30px;
    font-size: 16px;
  }

.button {
  background: darkturquoise;
  padding: 5px;
  border-radius: 5px;
  }

  /* image */
  img {
    /* responsive image trick */
    width: 100%;
    height: auto;
  }
